{{#if success_msg}}
<div id="alerts" style="margin: 0px 20px 0px 20px;">
  <div class="alert alert-success d-flex align-items-center alert-dismissible fade show mt-3" role="alert">
    <i class="bi bi-check-circle-fill bi flex-shrink-0 me-2"></i>
    <div>
      {{success_msg}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{{/if}}

{{#if error_msg}}
<div id="alerts" style="margin: 0px 20px 0px 20px;">
  <div class="alert alert-danger  d-flex align-items-center alert-dismissible fade show mt-3" role="alert">
    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
    <div>
      {{error_msg}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{{/if}}

<div class="box mt-4">
  <div class="divisor">

    <div class="container-fluid" style="">
      <form class="d-flex" action="/notes?" method="GET">
        <div class="input-group">
          <input class="form-control me-2" name="filtro" placeholder="Buscar nota por nombre de categoria..."
            aria-label="Search">
          <button id="btn-search" class="input-group-text"><i class="bi bi-search"></i></button>
        </div>
      </form>
    </div>

    <div class="addNote">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNote">
        Nueva nota <i id="plus-icon" class="bi bi-plus"></i>
      </button>
    </div>

  </div>
</div>


{{#if notes}}
<div class="notes">
  {{#each notes}}
  <div class="card">
    <div id="tittle-divisor" class="card-header">
      <div class="tittle">
        <p class="tittle-text fw-bold">{{this.titulo}}</p>
      </div>
      <div class="actions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" title="Opciones" aria-expanded="true">
              <i style="font-size: 18px;" class="bi bi-sliders"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li><a class="dropdown-item" href="/notes/edit/{{this._id}}"><i class="bi bi-pencil-square"></i>
                  Editar</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><button class="dropdown-item" type="button" id="delete-btn" data-id="{{this._id}}"><i
                    class="bi bi-trash-fill"></i> Eliminar
                </button>
              </li>
              {{#if this.isEncrypted}}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><button id="btnDecryptNote" class="dropdown-item" type="button" data-bs-toggle="modal"
                  data-bs-target="#decryptNote" data-id="{{this._id}}">
                  <i class="bi bi-vector-pen"></i> Desencriptar
                </button>
              </li>
              {{/if}}
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      {{#if this.isEncrypted}}
      <div id="blocked" class="blocked mt-5" title="Nota bloqueada">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-lock"
          viewBox="0 0 16 16">
          <path
            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
        </svg>
      </div>
      {{else}}
      <h5>{{this.categoria}}:</h5>
      <p id="note-content" class="card-text">
        {{this.contenido}}
      </p>
      {{/if}}
    </div>
    <div class="card-footer">
      <div class="date-card">
        {{this.createdAt}}
      </div>
      <div class="favorite-button">
        <button id="btn-reminder"><i class="bi bi-bell" title="Recuerdame"></i></button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}